@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'LightFont';
    src: url('../assets/fonts/Gong Gothic Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@layer components {

    .menu-tab {
        @apply px-8 py-4 text-gray-800 text-center cursor-pointer;
    }

    .menu-tab.active {
        @apply bg-gray-400 text-black;
    }

    .product-card {
        @apply bg-gray-100 p-4 rounded-lg relative flex flex-col items-center;
    }

    .badge {
        @apply absolute top-2 left-2 w-12 h-12 flex items-center justify-center rounded-full text-white text-sm font-bold;
    }

    .badge-new {
        @apply bg-red-600;
    }

    .badge-best {
        @apply bg-green-600;
    }
}